@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  padding: 2rem;
  place-items: center;
}

p {
  text-align: justify;
}

a {
  color: var(--color-link);
  padding: 3px;
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {

  a:hover {
    color: var(--color-text);
    background-color: var(--color-link);
  }

}